---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="">
      Hey, I'm Gustavo <Badge>Available for hire</Badge>
    </h1>
    <h2>
      Web developer with 3 years of experience in engineering project
      development, I'm familiar with agiles methodologies that allow mw to adapt
      quickly to changes and work effiently in a team
    </h2>
  </main>
</Layout>
