<header
  class="sticky top-0 z-50
   flex justify-center items-center py-5 w-full mx-auto
    xl:w-[900px] lg:w-[500px] md:w-[500px] 
    bg-white 
    "
> <!-- bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)] -->
  <a
    class="mr-10 hidden xs:block"
    href="https://www.linkedin.com/in/developer-gustavo-mu%C3%B1iz-barrios-86708b121/"
  >
    <img
      class="rounded-full size-12"
      src="https://th.bing.com/th/id/OIP.Zd0M82wkkQcSla_pP1dGpgAAAA?rs=1&pid=ImgDetMain"
      alt="profile of Gustavo"
    />
  </a>

  <nav class="flex flex-row gap-x-10 ">
    <a href="/" class="hover:underline">Home</a>
    <a href="#projects" class="hover:underline">Projects</a>
    <a href="#experience" class="hover:underline">Experience</a>
    <a href="#about" class="hover:underline">About</a>
    <!--  <a href="#contact" class="hover:underline">Contact</a> -->
    <!-- <LanguageDropdown /> -->
  </nav>
</header>