<!-- component -->
<div class="flex flex-row items-center right-1">
    <button
        class="p-2 flex flex-row items-center border border-gray-300 text-sm font-medium text-gray-700 hover:bg-gray-100 focus:bg-gray-200 focus:outline-none"
    >
        <span class="text-md">EN</span>
        <span class="ml-1">
            <img
                width="48"
                height="48"
                src="https://img.icons8.com/color/48/great-britain-circular.png"
                alt="great-britain-circular"
            />
        </span>
    </button>

    <button
        class="p-2 flex flex-row items-center border border-gray-300 text-sm font-medium text-gray-700 hover:bg-gray-100 focus:bg-gray-200 focus:outline-none"
    >
        <span class="text-md">ES</span>
        <span class="ml-1">
            <img
                width="48"
                height="48"
                src="https://img.icons8.com/color/48/spain2-circular.png"
                alt="spain2-circular"
            />
        </span>
    </button>
</div>
