---
import JobIcon from "./icons/JobIcon.astro";
---

<ol class="relative border-s border-gray-200 ml-3">
  <!-- dark:border-gray-700 -->
  <!-- PROJECT MANAGER section -->
  <li class="mb-10 ms-8">
    <span
      class="absolute flex items-center justify-center w-7 h-7 bg-blue-100 rounded-full -start-3 ring-8 ring-white"
    >
      <!-- dark:ring-gray-900 dark:bg-blue-900 -->
      <JobIcon class="w-4 h-4 text-blue-800" />
    </span>
    <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900">
      <!-- dark:text-white -->
      Project Manager <span
        class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded ms-3"
      >
        <!-- dark:bg-blue-900 dark:text-blue-300 -->Latest</span
      >
    </h3>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400">
      <!-- text-gray-400 dark:text-gray-500 -->Bommus de Mexico, May. 2021 -
      Aug. 2022</time
    >
    <p class="mb-4 text-base font-normal text-gray-500 text-pretty">
      <!-- dark:text-gray-400 -->
      <ul class="text-gray-500 list-disc ml-3">
        <li>
          Together with my team, we developed a new product from a prototype,
          covering areas such as hardware and software design, commercial
          viability and quality testing.
        </li>
        <li>
          I was in charge of leading the dissemination of the new product by
          applying Marketing strategies, revamping the website and creating a
          new sub-brand.
        </li>
        <li>
          The departament I led became the main profit contributor for the
          company.
        </li>
      </ul>
    </p>
  </li>
  <!-- PROJECT ENGINEER section -->
  <li class="mb-10 ms-8">
    <span
      class="absolute flex items-center justify-center w-7 h-7 bg-blue-100 rounded-full -start-3 ring-8 ring-white"
    >
      <!-- dark:ring-gray-900 dark:bg-blue-900 -->
      <JobIcon class="w-4 h-4 text-blue-800" />
    </span>
    <h3 class="mb-1 text-lg font-semibold text-gray-900">
      <!-- dark:text-white -->
      Project Engineer
    </h3>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400">
      <!-- dark:text-gray-500 -->Bommus de Mexico, Mar. 2021 - Abr. 2021
    </time>
    <p class="text-base font-normal text-gray-500 text-pretty">
      <!-- dark:text-gray-400 -->
      <ul class="text-gray-500 list-disc ml-3">
        <li>
          Preparing , scheduling, coordinating and supervising the project,
          performing overall quality control of the work, assigning
          responsibilities and mentoring the project team.
        </li>
        <li>
          Succesfully completed the project together with my team, and presented
          the results achieved, which earned the company another contract with
          the client.
        </li>
      </ul>
    </p>
  </li>
</ol>
